parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\Doctrine\EntityListener\User\:
        resource: '../src/Doctrine/EntityListener/User/'
        tags:
            - { name: doctrine.orm.entity_listener, entity: App\Entity\User, events: [prePersist, preUpdate] }